@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-decoration: none;
  margin: 0px auto;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  list-style: none;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
nav .menu {
  height: auto;
  margin: 10px;
}
nav #logoTop {
  width: 30%;
}
nav #logoTop img {
  margin-left: 15%;
}
nav #bar {
  width: 70%;
}
nav ul {
  width: 50%;
  display: flex;
  flex-direction: row;
}
nav ul li {
  color: #1D2C38;
  text-align: right;
}
nav ul li a, nav ul li a:focus, nav ul li a:active {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
nav ul li a:hover {
  color: #FEC71B;
}
nav img {
  width: auto;
  height: 60px;
}

#contacto {
  display: block;
  border: 3px solid #FEC71B;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#burger {
  visibility: hidden;
}
#burger .mainmenu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 20;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  transition: top 1s ease;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
  display: none;
}
#burger .mainmenu .closemenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mainmenu li {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

#logoM {
  width: 95%;
}
#logoM img {
  margin-left: 9%;
}

#burgerM {
  width: 5%;
  height: 80%;
  display: flex;
  align-items: center;
}
#burgerM .fas {
  width: 50px;
  height: auto;
  color: #1D2C38;
}

.hero {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: auto;
}

.text {
  width: 100%;
  min-height: 300px;
  background-color: white;
  color: #1D2C38;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.text h1 {
  text-align: center;
  margin: 10px;
  margin-bottom: 15px;
}
.text p {
  display: block;
  width: 75%;
  max-width: 1400px;
  height: auto;
}
.text #block {
  background-color: #fbfbfb;
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 25px;
  padding-top: 20px;
}
.text h3 {
  margin-bottom: 20px;
}
.text h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text ul {
  display: flex;
}
.text ul li a {
  color: #1D2C38;
  margin: 15px;
}
.text ul li a:hover {
  color: #FEC71B;
}

#plano {
  text-align: center;
}

#social {
  margin-bottom: 30px;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #1D2C38;
}

a, a:focus, a:active {
  text-decoration: none;
  color: white;
}

#logoFooter {
  width: 50%;
  margin-top: 40px;
}
#logoFooter img {
  margin-left: 15%;
}

#list {
  width: 50%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.list {
  width: 50%;
}
.list h3 {
  color: white;
}
.list hr {
  border: 1px solid #FEC71B;
  width: 20%;
  margin-left: 0;
  margin-top: 5px;
}
.list li {
  margin-top: 10px;
  color: white;
}
.list li a:hover {
  color: #FEC71B;
}

.fas {
  color: #FEC71B;
  margin-right: 10px;
}

#end {
  width: 100%;
  min-height: 50px;
  max-height: 70px;
  background-color: #FEC71B;
}

@media (max-width: 1100px) {
  .hero {
    min-height: 200px;
    max-height: 600px;
  }

  #burger {
    visibility: visible;
  }

  .text {
    flex-direction: column;
  }

  .content {
    width: 90%;
  }

  #ender {
    display: none;
  }
}
@media (max-width: 1020px) {
  footer {
    height: auto;
  }

  .list {
    margin-bottom: 20px;
  }

  #logoFooter {
    width: 30%;
  }

  #list {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .text #block {
    margin-bottom: 30px;
  }
  .text ul {
    flex-direction: column;
  }
  .text ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 900px) and (max-width: 800px) {
  .hero {
    min-height: 200px;
    max-height: 400px;
  }
}
@media (max-width: 900px) {
  #logoFooter {
    width: 50%;
  }
}
@media (max-width: 900px) {
  #list {
    width: 50%;
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  #valores p {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .element {
    display: none;
  }

  .list {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .hero {
    max-height: 300px;
  }
}
@media (max-width: 450px) {
  .hero {
    max-height: 250px;
  }
}

/*# sourceMappingURL=pages.css.map */
